.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 500px;
  padding: 20px;
  margin: 40px 0;
  background-color: rgb(33, 129, 160);
  border-radius: 18px;
}

.profileCard > img {
  width: 260px;
}
